<div class="ng-one-time-password" [formGroup]="controlsGroup" #controlsWrapper>
  <input
    *ngFor="let control of controlsGroup?.controls | keyvalue; let i = index"
    [id]="'control-' + i"
    class="ng-one-time-password--input"
    maxlength="1"
    [type]="inputType"
    [ngClass]="'control-' + i"
    autocomplete="one-time-code"
    [formControlName]="control.key"
    (paste)="onInputPaste($event)"
    (focus)="onInputFocus($event)"
    (keydown)="onKeyDown($event)"
    (input)="onInputChange($event)"
  />
</div>
