<div class="ng-one-time-password" [ngClass]="wrapperClass" #controlsWrapper>
  <input
    *ngFor="let control of controlsList.controls; let i = index"
    [id]="'control-' + i"
    class="ng-one-time-password--input"
    autocomplete="one-time-code"
    [type]="inputType"
    [ngClass]="['control-' + i, inputClass]"
    [formControl]="control"
    (paste)="onInputPaste($event)"
    (focus)="onInputFocus($event)"
    (keydown)="onInputKeyDown($event)"
    (input)="onInputChange($event)"
    (beforeinput)="onBeforeInputChange($event, control)"
  />
</div>
