@use "sass:map";
// @use 'variables' as vars;
@use "../../styles/variables" as vars;
@use "../../styles/input" as input;

.ng-one-time-password {
  display: flex;
  gap: input.$input-spacing;

  &--input {
    box-sizing: border-box;
    width: input.$input-width;
    height: input.$input-height;
    padding: map.get(vars.$padding, "md") 0px;
    font-size: map.get(vars.$font-size, "lg");
    line-height: map.get(vars.$line-height, "md");
    text-align: center;

    outline: none;
    border: 1px solid vars.$secondary-color;
    border-radius: map.get(vars.$border-radius, "lg");

    transition: border-color 500ms;

    &:active,
    &:focus,
    &:hover {
      border: 1px solid vars.$primary-color;
    }

    // input selection
    &::selection {
      background-color: vars.$primary-color;
      color: vars.$base-color;
    }

    // numeric input set as regular
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
