<div
  class="ng-one-time-password"
  [formGroup]="controlsGroup"
  [ngClass]="wrapperClass"
  #controlsWrapper
>
  <input
    *ngFor="let control of controlsGroup?.controls | keyvalue; let i = index"
    [id]="'control-' + i"
    class="ng-one-time-password--input"
    autocomplete="one-time-code"
    [type]="inputType"
    [ngClass]="['control-' + i, inputClass]"
    [formControlName]="control.key"
    (paste)="onInputPaste($event)"
    (focus)="onInputFocus($event)"
    (keydown)="onInputKeyDown($event)"
    (input)="onInputChange($event)"
  />
</div>
