<div class="playground">
  <div class="playground--controls">
    One Time password
    <div class="playground--controls-wrapper">
      <select [(ngModel)]="pwdType">
        <option value="text">Text</option>
        <option value="number">Number</option>
      </select>
      <input
        type="text"
        [(ngModel)]="pwdLength"
        placeholder="password length"
        type="number"
      />
      <div>
        <input
          type="checkbox"
          name="masked"
          id="masked"
          [(ngModel)]="isMasked"
        />
        <label for="masked">Masked</label>
      </div>
    </div>
  </div>
  <div class="playground--item">
    <ng-one-time-password
      [formControl]="control"
      [type]="pwdType"
      [length]="pwdLength"
      [masked]="isMasked"
    ></ng-one-time-password>
  </div>
</div>
