$primary-color: #2c2c2c;
$secondary-color: #b6b6b6;
$base-color: #FFF;

$margin: ('xs': 6px, 'md': 12px, 'lg': 24px, 'xl': 36px);
$padding: ('xs': 6px, 'md': 12px, 'lg': 24px, 'xl': 36px);
$font-size: ('xs': 12px, 'md': 14px, 'lg': 16px, 'xl': 24px);
$line-height: ('xs': 18px, 'md': 24px, 'lg': 32px, 'xl': 48px);
$border-radius: ('xs': 4px, 'md': 8px, 'lg': 12px, 'xl': 16px);